/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f7f1;  /* Neutral stone color */
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  /* Navigation Bar */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
    background-color: #f8f7f1;
    color: white;
  }
  
  nav a:hover {
    filter: grayscale(50%);
  }

  .nav-left a {
    background-color: #b61d29;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
  }

 /* Home Content */
.home-content {
    display: flex;
    justify-content: space-around;
    padding: 0px 40px 40px 40px;
  }
  
  .image-container {
    flex: 1;
    margin: 0 30px;  /* Space between images */
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;  
    border-radius: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: filter 0.3s ease; /* Smooth transition */
  }
  
  .image-container img:hover {
    transform: scale(1.01);
    transition: filter 0.2s ease, transform 0.2s ease;
  }

  /* Show the Vertical Menu When Toggled */
  .nav-menu.show {
    display: grid;
  }

/* Responsive Styles for Mobile Screens */
@media (max-width: 768px) {

  .home-content {
    flex-direction: column;  /* Stack the images vertically */
    padding: 0px 20px;
  }

  nav {
    padding: 40px 20px;
  }

  .image-container {
    margin: 20px 0;          /* Add vertical space between stacked images */
  }

}