/* Reset browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* padding and border inclusive inside elements' total w x h */
}

/* Default font and colours for the body */
body {
  font-family: arial, sans-serif;
  background-color: #f8f7f1;
  color: #333;
}

/* headers set to Poppins font */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins' 
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  transition: background 0.3s ease;
}

.nav-left a {
  background-color: #b61d29;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Transparent Navbar Initially */
nav.transparent {
  background: transparent;
}

nav.solid {
  background: white;
}

nav.solid .nav-left a {
  color: rgb(255, 255, 255);
}

/* Styling for landing section and cover image */
.landing {
  height: 100vh;
  background: url('images/landing.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing h1 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  padding: 10px;
}

/* highlights in the style of FAC branding */
.highlight {
  background-color: rgb(253, 230, 147);  
  color: rgb(0, 0, 0);            
  padding: 5px 10px;        /* Adds spacing around text */
  display: inline;
  white-space: nowrap; /* Prevents unwanted line breaks */
}

.highlight-small {
  background-color: rgb(253, 230, 147);  
  color: rgb(0, 0, 0);             
  padding: 2px 2px;        
  font-weight:700; 
  display: inline;
  white-space: nowrap;
}


/* Styling for the following sections */
.content {
  display: flex;
  height: 100vh;
}

.image-side {
  flex: 1;
  background-size: cover;
  background-position: center;
}

.text-side {
  flex: 1;
  background: white;
  display: flex;
  justify-content: center;
  align-items: left;
  padding: 40px;
  flex-direction: column; 
}

.text-side h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.dark-section .text-side {
  background-color: black;
  color: white;
}

ul {
  list-style: none; /* Remove default bullets */
}

/* formatting to allow for emoji bullets */
li {
  font-size: 1rem;
  margin-bottom: 15px;
  display: flex;
  align-items: start; /* Ensures top alignment */
  gap: 10px;
  line-height: 1.5;
  position: relative;
  padding-left: 2em; /* Creates space for the emoji bullets */
}

li::before {
  content: attr(data-emoji);
  position: absolute;
  left: 0;
  top: 0.1em;
  font-size: 1.2em;
  line-height: 1;
}

.boxed-text {
  font-size: 1rem;
  border: 2px solid #000000;
  padding: 1rem;
  margin-top: 1rem;
}

/* Adds basic responsive functionality for the website, though it's certainly optimised for web */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  
  .image-side {
    height: 50vh;
  }

  .text-side {
    height: 50vh;
  }
}


